h1{
  color: Red;
  text-align: center;
  background-color: black;
  font-size: 40px;
}
h2{
  color:white;
  text-align: center;
  background-color: black;
  font-size: 30px;

}
strong{
  font-style: italic;
}
em{
  font-weight: bold;
  font-style: normal;
}
p{
  font-size: 20px;
  font-family: sans-serif;
}
img{
  position: absolute;
}
